/* Global page styling */
body {
    font-family: Poppins, Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    height: 100vh;
    margin: 0;
    padding: 0;
    color:greenyellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main title */
h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

/* Sub text */
h2 {
    margin-top: 30px;
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Input field styling */
input {
    padding: 12px 15px;
    width: 250px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 10px;
    font-size: 1rem;
    transition: 0.3s;
}

input:focus {
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}

/* Buttons */
button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background: #fff;
    color:red;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

button:hover {
    transform: scale(1.07);
    background:black;
}
